{% extends 'base.html.twig' %}

{% block title %}Hello AnswerController!{% endblock %}

{% block body %}
    <div class="card" style="margin-top: 2em">
        <p class="card-header">Add new choice</p>
        <div class="card-body">
            {{ form_start(answer_form) }}
            {{ form_errors(answer_form) }}

            {{ form_row(answer_form.key, { 'label': 'Text' }) }}

            {{ form_row(answer_form.submit, { 'label': 'Add' }) }}
            {{ form_end(answer_form) }}
        </div>
    </div>
{% endblock %}
