{% extends 'base.html.twig' %}

{% block title %}{{ survey }}{% endblock %}

{% block body %}
    <div class="card" style="margin-top: 2em">
        <p class="card-header">{{ survey }}</p>
        <div class="card-body">
            {{ form_start(survey_form) }}
            {{ form_errors(survey_form) }}

            {{ form_row(survey_form.name, { 'label': 'Survey title' }) }}
            {{ form_row(survey_form.isPublished, { 'label': 'Public' }) }}

            {{ form_row(survey_form.submit, { 'label': 'Save changes' }) }}
            {{ form_end(survey_form) }}
        </div>
    </div>
{% endblock %}
