{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="margin-top: 2em">
        <p class="card-header">Create new survey</p>
        <div class="card-body">
            {{ form_start(survey_form) }}
            {{ form_errors(survey_form) }}

            {{ form_row(survey_form.name, { 'label': 'Survey title' }) }}
            {{ form_row(survey_form.isPublished, { 'label': 'Public' }) }}

            {{ form_row(survey_form.submit, { 'label': 'Save changes' }) }}
            {{ form_end(survey_form) }}
        </div>
    </div>
    {% for survey in surveys %}
    <div class="card" style="margin-top: 1em">
        <div class="card-header">
            <div class="row">
                <p class="col-lg">{{ survey }}</p>
                <button class="btn btn-link" onclick="copyToClipboard(event)" data="{{ survey.slug }}">Copy link</button>
            </div>
            {% if survey.isPublished %}
                <p class="card-text"><small class="text-muted">Public</small></p>
            {% else %}
                <p class="card-text"><small class="text-muted">Not public</small></p>
            {% endif %}
        </div>
        <div class="card-body">

            <a class="btn btn-primary" href="{{ path('survey', { slug: survey.slug }) }}">View</a>
            <a class="btn btn-link" href="{{ path('survey_edit', { slug: survey.slug }) }}">Edit</a>
            <a class="btn btn-danger float-right" href="{{ path('survey_delete', { slug: survey.slug }) }}">Delete</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
<script>
function copyToClipboard(event) {
    const slug = event.target.getAttribute("data");
    const url = `${window.location}survey/${slug}/take`
    const el = document.createElement('textarea');

    el.value = url;
    el.setAttribute('readonly', '');
    el.style.position = 'absolute';
    el.style.left = '-99999px';
    document.body.appendChild(el);
    el.select();
    document.execCommand('copy');
    document.body.removeChild(el);
}
</script>
{% endblock %}