{% extends 'base.html.twig' %}

{% block title %}{{ survey }}{% endblock %}

{% block body %}

    <h3 class="title">{{ survey }}</h3>

    {% for question in survey.surveyQuestion %}
        <div class="card" style="margin-top: 1em">
            <div class="card-header">
                <div class="row">
                    <p class="col-lg">{{ question }}</p>
                    <a class="btn btn-link"
                       href="{{ path('survey_question_edit', { slug: survey.slug, id: question.id }) }}">Edit</a>
                </div>
                {% if question.isRequired %}
                    <p class="card-text"><small class="text-muted">Required</small></p>
                {% else %}
                    <p class="card-text"><small class="text-muted">Not required</small></p>
                {% endif %}
            </div>
            {% if question.answer %}
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% if question.answer is textAnswer %}
                            <li class="list-group-item">
                                <input type="text" class="form-control" placeholder="Text answer">
                            </li>
                        {% elseif question.answer is checkboxAnswer %}
                            {% for choice in question.answer.selectedChoices %}
                                <li class="list-group-item">
                                    {{ choice.key }}
                                    <a class="btn btn-danger float-right"
                                       href="{{ path('delete_answer', {slug: survey.slug, id: question.id, answer: choice.id}) }}"
                                       style="text-decoration: none;">
                                        Delete
                                    </a>
                                </li>
                            {% endfor %}
                            <button class="btn btn-link float" style="margin-top: 1em">
                                <a href="{{ path('add_answer', {slug: survey.slug, id: question.id}) }}">Add choice</a>
                            </button>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <button class="btn btn-link" style="margin-top: 1em; margin-bottom: 2em">
        <a style="text-decoration: none" href="{{ path('survey_question_create', { slug: survey.slug }) }}">Create new
            question</a>
    </button>

{% endblock %}
