{% extends 'base.html.twig' %}

{% block title %}{{ survey }}{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ survey }}</h3>
        </div>
        <div class="card-body">
            {{ form(survey_response_form) }}
        </div>
    </div>

{% endblock %}