<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Survey Maker{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>
<header class="navbar" style="margin-bottom: 2em">
    <a href="/" class=" btn navbar-brand float-left">Survey maker</a>
    {% if app.user %}
        <a href="/logout" class="btn btn-link float-right">Logout</a>
    {% endif %}
</header>
<div class="container-sm">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
