{% extends 'base.html.twig' %}

{% block title %}{{ question }}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="card" style="margin-top: 2em">
        <p class="card-header">Create new question</p>
        <div class="card-body">
            {{ form_start(question_form) }}
            {{ form_errors(question_form) }}

            {{ form_row(question_form.text, { 'label': 'Question' }) }}
            {{ form_row(question_form.answer, { 'label': 'Answer type' }) }}
            {{ form_row(question_form.is_required, { 'label': 'Required' }) }}

            {{ form_row(question_form.submit, { 'label': 'Save question' }) }}
            {{ form_end(question_form) }}
        </div>
    </div>
</div>
{% endblock %}
